body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #e0f2f1;
}
.header {
  background-color: #004d40;
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9), 0 6px 6px rgba(0, 0, 0, 0.13); */
}
.nav1 {
  color: #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav1 li {
  margin-left: 15px;
}
.nav1 a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.4s ease-out;
}
.nav1 a:hover {
  color: #b2dfdb;
  transform: rotate(-6deg);
}

.home {
  display: flex;
  justify-content: center;
}
.home-inner {
  width: 500px;
}
.home-inner h1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}
